

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}

#para {
  font-size:3rem;
  position:relative;
  left:50%;
}


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  color: #111;

}
#img{
  height:20px;
  width:40px;

}
.bttn{
  height: 8rem;
  width: 20rem; 
  background-image: url("./btn_background.jpeg"); /*linear-gradient(45deg,yellow, orange, red); */
  background-size: 20rem 8rem;
  color: black;
  position:relative;
  top:5rem;
  font-size:2rem;
  
}

#hindi,#hindi1, #hindi2{
  color:black;
  font-color:black;
}
#english,#english1,#english2{
  color:black;
  font-color:black;
}


.draggable-elements { 
  display: flex;
  justify-content: center;
  margin: 4rem;
} 
#title{
  font-size: 5rem;
  text-align-last: center;
}
#split{
  font-size: 1.5rem;
  font-weight:bold;
  position:relative;
  top:12.5rem;
  right:31rem;
  display: inline;
  }

#body, #head {
  background-image: url("https://wallpapercave.com/wp/wp3440148.jpg");
  background-size: 100%;
  background-size: cover;
}
.draggable {
  
  height: 5rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  top: -20rem;
  margin: 0rem 0.5rem;
  cursor: move;
  transition: opacity 0.2s;
  font-color:black;
  border-style: dashed;
  background-color: #ffc8fb;
} 


 #bttn_submit {
  height: 3rem;
  width: 12rem;
  font-size:1.5rem;
  border-radius: 2rem;
  background-color:blue;
  position: relative;
  left: 35rem;
  top:27rem;
 }
/*#background1
{
    position: absolute;
    width: 100%;
    z-index: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/


.draggable:hover {
  opacity: 0.8;
}
.droppable {
  height: 4rem;
  width: 10rem;
  margin: 1rem auto;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  display: flex;
  font-size: 4rem;
  font-weight: bold;
  position:relative;
  top:-7rem;
  
  border: 0.2rem dashed #111;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;

  
}
.droppable span {
  font-size: 1.25rem;
  pointer-events: none; /* The element is never the target of pointer events */

}

/* Drag and Drop Related Styling */

.droppable.droppable-hover {
  background-color: #bee3f0; 
  border-width: 0.2rem;
  transform: scale(1.1);
}
.droppable.dropped {
  background-color:white;
  border-style: solid;
  color: #fff;
  

}
.droppable.dropped span {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  font-size:1.5rem;
  background-color;
  font-color:black;
}
.droppable.dropped div {
  pointer-events: none ;
}
.draggable.dragged {
  user-select: none;
  opacity: 1;
  cursor: default;
}
.draggable.dragged:hover {
  opacity: 0.1;
}

@media (max-width: 100%) {
  html { font-size: 14px; }
  .draggable-elements { margin: 3rem; }
}


